<html>
  <head>
    <title>Ridzwan's scratchpad</title>
    <link href="/static/dist/css/output.css" rel="stylesheet" />
    <!-- <script>
      const inputField = document.getElementById("message");
      const btn = document.getElementById("submitButton");

      inputField.addEventListener("keyup", () => {
        if (inputField.value.trim() === "") {
          btn.disabled = true;
        } else {
          // enabling the button
          btn.disabled = false;
        }
      });
    </script> -->
  </head>

  <body>
    <div class="container">
      <h1 class="text-4xl font-bold p-4">My Scratchpad</h1>

      {% for comment in comments %}
      <div class="row comment">{{ comment }}</div>
      {% endfor %}

      <div class="p-4">
        <form action="#" method="POST">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Your note</label
          >
          <textarea
            id="message"
            minlength="3"
            required
            name="contents"
            rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Write your thoughts here..."
          ></textarea>
          <input
            id="submitButton"
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-4"
            value="Post comment"
          />
        </form>
        <p>
          This project was developed by
          <a href="https://www.linkedin.com/in/ridzwanharon/">Ridzwan</a>. View
          <a href="https://github.com/omgsian/scratchpad">source code</a>.
        </p>
      </div>
    </div>
  </body>
</html>
