<html>
  <head>
    <title>Ridzwan's scratchpad</title>
    <link href="/static/dist/css/output.css" rel="stylesheet" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
  </head>
  <body class="bg-slate-200">
    {% include "header.html" %}
    <div class="max-w-full min-h-screen overflow-auto bg-white">
      <p class="m-2">
        This project was developed by
        <a href="https://www.linkedin.com/in/ridzwanharon/">Ridzwan</a>. View
        <a href="https://github.com/omgsian/scratchpad">source code</a>.
      </p>
      {% for comment in comments %}
      <div class="comment">{{ comment.content }}</div>
      <small class="p-2 text-gray-600">
        Posted
        <strong
          >{% if comment.posted %} {{ comment.posted.strftime("%A, %d %B %Y at
          %H:%M") }} {% else %} at an unknown time {% endif %}</strong
        >
        by
        <strong
          >{% if comment.commenter %} {{ comment.commenter.username }} {% else
          %} anonymous {% endif %}</strong
        >
      </small>
      {% endfor %}
    </div>
    <div id="footer" class="sticky bottom-0">
      {% if current_user.is_authenticated %}
      <footer class="bg-slate-100">
        <form action="#" method="POST">
          <div class="flex space-x-2 p-4">
            <textarea
              id="message"
              minlength="3"
              name="contents"
              rows="4"
              class="block p-2.5 w-full h-16 lg:h-auto text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700"
              placeholder="Write your thoughts here... 💭"
              required
            ></textarea>

            <div class="flex">
              <input
                id="submitButton"
                type="submit"
                class="bg-blue-500 hover:bg-blue-700 cursor-pointer text-white font-bold w-32 rounded-lg"
                value="Post"
              />
            </div>
          </div>
        </form>
      </footer>
      {% else %}
      <footer>
        <div class="flex border border-t-2 gray-200 space-x-2 p-4">
          <a href="{{ url_for('login') }}">Login</a>&nbsp;to comment.
        </div>
      </footer>
      {% endif %}
    </div>
  </body>
</html>
